﻿@page
@using EmployeeStore.Models
@model AddPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add employee";
}

@if (!string.IsNullOrEmpty(Model.Error))
{
    <p class="text-danger">@Model.Error, try again </p>
}

<p>Enter a customer name:</p>

<form method="post">
    Name:
    <input asp-for="Employee!.Name"/>
    <span asp-validation-for="Employee!.Name" class="text-danger"></span>
    Rfc:
    <input asp-for="Employee!.Rfc"/>
    <span asp-validation-for="Employee!.Rfc" class="text-danger"></span>
    Date of birth:
    <input asp-for="Employee!.DateOfBirth" asp-format="{0:yyyy/MM/dd}"/>
    <span asp-validation-for="Employee!.DateOfBirth" class="text-danger"></span>
    Status:
    <select asp-for="Employee!.Status" asp-items="Html.GetEnumSelectList<EmployeeStatus>()">
    </select>
    <span asp-validation-for="Employee!.Status" class="text-danger"></span>
    <input type="submit" value="Submit">
</form>