﻿@page
@model ShowPageModel
@{
    ViewData["Title"] = "See employees";
}

<form method="get">
    Name:
    <input type="search" name="name"/>
    <input type="submit" value="Submit">
</form>
@if (!string.IsNullOrEmpty((string)ViewData["query"]))
{
    <p class="text-warning">Currently looking for name: <b>@ViewData["query"]</b></p>
    <button type="submit">
        <a asp-page="./Show">Reset</a>
    </button>
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>RFC</th>
        <th>Date of Birth</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>


    @foreach (var employee in Model.Employees)
    {
        <tr>
            <td>@employee.Name</td>
            <td>@employee.Rfc</td>
            <td>@employee.DateOfBirth.ToShortDateString()</td>
            <td>@employee.Status.ToString()</td>
        </tr>
    }
    </tbody>
</table>